@media screen and (min-width:1px){
    /* TO DO
    // Make View All Games --> Next Game Fab transition smooth
    */

    .fab-container{
        position: fixed;
        bottom: 30px;
        right: 30px;
        height: 50px;
        width: 250px;
        transition: .5s ease-in-out;
        display: flex;
    }

    .fab{
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 2px 2px 6px rgba(0,0,0,.4);
        transition: .5s ease-in-out;
        border: 2px solid rgba(255,255,255,.5);
        display: flex;
        margin:auto;
        margin-right:0;
        height: 100%;
    }

    .fab:hover{
        cursor:pointer;
        transform: scale(1.25);
        box-shadow: 2px 2px 9px rgba(0,0,0,.65);
    }

    .fab:focus{
        outline: none;
    }

    .fab h3{
        margin: auto;
        padding: 0px 10px;
        color: currentColor;
    }
/*=======================================
------------Three Dot Menu---------------
========================================*/
    .three-dot-menu-wrapper{
        position: absolute;
        right: 0px;
        top: 0px;
        text-align: center;
        z-index: 9000;
        overflow: visible;
        padding: 25px;
    }

    .three-dot-button{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        background-color: inherit;
        z-index: 9200;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .three-dot-menu-wrapper:hover > .dot{
        opacity: .85;
    }

    .dot {
        background-color: #000;
        margin: auto;
        margin-left: 3px;
        margin-right: 3px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        transition: .25s ease-in-out;
        opacity: .3;
        text-align: center;
        position: relative;
    }

    .three-dot-menu{
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #f1f1f1;
        position: absolute;
        top:45px;
        right: 15px;
        z-index: 9000;
        display: flex;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,.35);
        transition: .2s ease-in-out;
    }

    .hidden-three-dot-menu{
        opacity: 0;
        transform: translateX(100px) translateY(-50px) scale(0);
        ;
    }

    .three-dot-menu::before{
        content:'';
        width: 0; 
        height: 0; 
        top:-12.5px;
        right: 15px;
        position: absolute;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #f1f1f1;
    }

    .three-dot-menu h2{
        margin: auto;
        color: #444;
    }

}

@media screen and (min-width:600px){

    .three-dot-menu {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #f1f1f1;
        position: absolute;
        top: 30px;
        right: 5px;
        z-index: 9000;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,.35);
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,.35);
        -webkit-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

    .three-dot-menu:hover{
        background-color: #f1f1f1;
    }
}