@media only screen and (min-width: 1px) {
    .card_container{
    position: absolute;
    top:50px;
    left: 3%;
    width: 94%;
    margin: auto;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: start;
}

.division-name{
    width: 100%;
    text-align: left;
    padding-left: 50px;
}

.card{
    margin: 10px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: block;
    height: 100px;
    width: 100%;
    transition: .25s ease-in-out;
    background: #fff;
    position: relative;
    border-radius: 5px;
    animation: .3s ease-in-out fadeIn forwards;
    opacity: 0;
    transform:translateY(50px);
}

.card:hover{
    cursor: pointer;
}


button{
    border: none;
}

/*======================================
------------SCHEDULE CARDS--------------
=======================================*/
.schedule-card{
    height: 300px;
    display: flex;
    flex-direction: column;
}

.schedule-card p, .schedule-card .team{
    margin:auto;
}

.schedule-card .away-team{
    margin-top: 20px;
}

.date-time{
    position: absolute;
    top:0;
    width: 80%;
    left:0;
    right:0;
    margin:auto;
    background-color: #222;
    color: #fff;
    height: 1.2em;
    padding-top: 5px;
}

.score{
    position: absolute;
}

.away-score{
    top: 50px;
    right: 50px;
}

.home-score{
    bottom: 30px;
    left:50px;
}
/*======================================
--------Animations and Transitions------
======================================*/

/*Overrides .fade-in @ app.css MUST FIX!*/
.fade-in{
    animation: .3s fadeIn forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform:translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-50px);
}
}
}
@media only screen and (min-width: 600px) {
    .card{
        width: 22%;
        margin: 25px auto;
        max-width: 200px;
        height: 300px;
    }

    .card:hover{
        transform: translateY(-10px);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        cursor: pointer;
    }
}