@media only screen and (min-width: 1px) {
    .primary-menu{
        width:100%;
        height: 100%;
        display: flex;
    }

    .primary-menu ul{
        margin:auto;
        padding: 25px 50px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 0;
        text-align: left;

    }

    .primary-menu ul li{
        margin: auto;
        list-style: none;
        display: inline-block;
        width: 90%;
        height: 100px;
        display: flex;
        border-radius: 8px;
        margin-bottom: 25px;

    }

    .primary-menu ul li a{
        margin:auto;
        color: #222;
        font-weight: 300;
        font-size: 32px;
        display: block;
    }

}


@media only screen and (min-width: 575px) {

}