.logo-container{
    background: #f2f2f2;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    position: relative;
    margin:auto;
    display: flex;
    margin-bottom: -115px;
}

.logo{
    margin: auto;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
}