.logo-container{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    position: relative;
    margin:auto;
    margin-top: 50px;
    display: flex;
}

.logo-container img{
    margin: auto;
    width: 75%;
    height: auto;
    position: relative;
}