@media only screen and (min-width: 1px) {

    .logo-container {
        border-radius: 50%;
        width: 75px;
        height: 100%;
        position: absolute;
        margin: auto;
        display: -ms-flexbox;
        display: flex;
        top: 0;
        left: 5%;
    }

    .logo-container img {
        margin: auto;
        width: 100%;
        position: relative;
        height: auto; 
    }

/*======================
-----Team Card Logo----
=======================*/

.teamCard .logo-container{
    float: left;
    z-index: 900;
}



/*=========================
-------Schedule Card Logos--
==================================*/

.away-team .logo-container {
    height: 100px;
    left: 10px;
    top: 10%;
}

.home-team .logo-container{
    height: 100px;
    right: 5%;
    bottom: calc(10% - 20px); /*Compensate for the marginbottom on date*/
    top: auto;
    left: auto;
}

}