.App-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #222;
    width: auto;
    height: 150px;
    margin-bottom: 25px;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 9000;
    text-align:center;
}

.App-title{
    margin: auto;
    font-family: "Roboto";
    font-size: 32px;
}

.App-header h2{
    font-size: 18px;
}