/*=========================
----------Mobile----------
==========================*/

@media only screen and (min-width: 1px) {
    .loading-circle{
        width: 7.5vw;
        height: 7.5vw;
        border-radius: 50%;
        border: 1vw solid #999;
        border-top-color: #444;
        animation: 2s spin infinite linear;
        margin:auto;
    }

    @keyframes spin {
        to{
            transform: rotate(360deg);
        }
    }
}