/*=============================================
----------------App----Globals----------------
=============================================*/

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  left:0;
  top:0;
}

.App-intro {
  font-size: large;
}

.page_container{
  position: absolute;
  width: 100%;
  height: calc(100% - 150px);
}

/*----What's the difference?? ----*/

.wrapper {
  position: relative;
}

/*=============================================
------------Animations------------------------
=============================================*/

.fade-out{
  animation-duration: .750s;
  animation-name: fadeOutAnimation;
  animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  99% {
    opacity: 0;
    transform: translateY(-500px);
  }

  100%{
    transform:scaleY(0);
  }
}

.fade-in{
  transform: scaleY(1);
  animation-duration: 1s;
  animation-delay: .5s;
  animation-name: fadeInAnimation;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hidden{
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}