/*=============================================
----------------App----Globals----------------
=============================================*/

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  left:0;
  top:0;
}

.App-intro {
  font-size: large;
}

.wrapper {
  position: relative;
}




/*=============================================
------------Animations/Transitions------------------------
=============================================*/

.hidden{
  opacity: 0;
  z-index: -100;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(500px);
  }
  
}

