/*=============================================
----------------App----Globals----------------
=============================================*/

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  left:0;
  top:0;
}

.App-intro {
  font-size: large;
}

/*----What's the difference?? ----*/

.wrapper {
  position: relative;
  min-height: 101vh; /*Keeps the scroll bar always present. Prevents jumping*/
}

/*=============================================
------------Animations/Transitions------------------------
=============================================*/

.fade-in{
  transform: scaleY(1);
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
  transition:.25s;
}

.fade-out{
  transform: translateY(-50px);
  opacity: 0;
  transition: .2s;
}

.hidden{
  opacity: 0;
  z-index: -100;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(500px);
  }
  
}